.wallpaperHome {
    background:
        linear-gradient(180deg,
            rgba(13, 13, 15, 0.88) 12%,
            rgba(255, 255, 255, 0) 56%,
            rgba(0, 0, 0, 100) 100%),
        url("/wp1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wallpaperRegister {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(10, 0, 0, 0.55) 100%),
        url("/movieWallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* BUTTON CUSTOM */

.fancy-btn {
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.fancy-btn .span-mother {
    display: flex;
    overflow: hidden;
}



.fancy-btn:hover .span-mother span {
    transform: translateY(1.2em);
}

.fancy-btn .span-mother span:nth-child(1) {
    transition: 0.2s;
}

.fancy-btn .span-mother span:nth-child(2) {
    transition: 0.3s;
}

.fancy-btn .span-mother span:nth-child(3) {
    transition: 0.4s;
}

.fancy-btn .span-mother span:nth-child(4) {
    transition: 0.5s;
}

.fancy-btn .span-mother span:nth-child(5) {
    transition: 0.6s;
}

.fancy-btn .span-mother span:nth-child(6) {
    transition: 0.7s;
}

.fancy-btn .span-mother span:nth-child(7) {
    transition: 0.8s;
}

.fancy-btn .span-mother span:nth-child(8) {
    transition: 0.9s;
}

.fancy-btn .span-mother span:nth-child(9) {
    transition: 0.10s;
}

.fancy-btn .span-mother span:nth-child(10) {
    transition: 0.11s;
}


.fancy-btn .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
}

.fancy-btn .span-mother2 span {
    transform: translateY(-2.2em);
}

.fancy-btn:hover .span-mother2 span {
    transform: translateY(0);
}

.fancy-btn .span-mother2 span {
    transition: 0.2s;
}

.fancy-btn .span-mother2 span:nth-child(2) {
    transition: 0.3s;
}

.fancy-btn .span-mother2 span:nth-child(3) {
    transition: 0.4s;
}

.fancy-btn .span-mother2 span:nth-child(4) {
    transition: 0.5s;
}

.fancy-btn .span-mother2 span:nth-child(5) {
    transition: 0.6s;
}

.fancy-btn .span-mother2 span:nth-child(6) {
    transition: 0.7s;
}

.fancy-btn .span-mother span:nth-child(7) {
    transition: 0.8s;
}

.fancy-btn .span-mother span:nth-child(8) {
    transition: 0.9s;
}

.fancy-btn .span-mother span:nth-child(9) {
    transition: 0.10s;
}

.fancy-btn .span-mother span:nth-child(10) {
    transition: 0.11s;
}


.title {
    font-size: calc(1.425rem + 2.3vw);
    max-width: 1200px;
}

@media (min-width: 1200px) {
    .title {
        font-size: 4rem;
    }
}

.scrollText {
    position: sticky;
    top: 50px;
    z-index: 2;

}

.backgroundImageAdv {
    position: relative;
    background-image: url("/public/st5.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 10px;
    z-index: 2;
}

@media (max-width: 700px) {
    .backgroundImageAdv {
        height: 50vh;

    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}

.block {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.customTitleAdv {
    padding-top: 100px;
    position: sticky;
    top: 100px;
    padding-bottom: 100px;
    z-index: 1;

}

.textAdv {
    text-align: left;
}

@media (max-width: 600px) {
    .textAdv {
        text-align: center;
    }
}

.modal-content {
    background-color: transparent;
    border: 0;
}

.modal-backdrop {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.99) 0%, rgba(10, 0, 0, 0.99) 100%);
}

.squares-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* così sta dietro al contenuto */
}

.falling-text-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 2em;
}

.falling-text-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.word {
    display: inline-block;
    margin: 0 2px;
    user-select: none;
}

.highlighted {
    color: cyan;
    font-weight: bold;
}

.falling-text-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.slick-dots {
    position: absolute;
    color: #E50914;
    bottom: -25px;
    display: none !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    display: none;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-slide {
    padding: 0 8px;

}

.scroll-reveal {
    margin: 20px 0;
}

.scroll-reveal-text {
    font-size: clamp(1.6rem, 4vw, 3rem);
    line-height: 1.5;
    font-weight: 600;
}

.word {
    display: inline-block;
}

.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
    scale: 0.95;
}

.form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #313131;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}